Welcome to thunix, newusername!

Your account has been provisioned, and should be available in a few
minutes for login.  Your password is newpassword

Any questions, concerns, comments, etc etc?  Join us
in IRC at irc.tilde.chat/6697, in #thunix, or via webchat:
https://web.tilde.chat/?join=thunix

Also, check out our git repos, that pretty much manage the whole of the
system at https://tildegit.org/thunix, and feel free to open issues and PRs.

Finally, welcome aboard!
