Subject: welcome to thunix!

Welcome to thunix, newusername!

Your account has been provisioned, and should be available in a few
minutes for login.  Your password is newpassword

Any questions, concerns, comments, etc etc?  Join us
in IRC at irc.tilde.chat/6697, in #thunix, or via webchat:
https://web.tilde.chat/?join=thunix

Also, check out our git repos, that pretty much manage the whole of the
system at https://tildegit.org/thunix, and feel free to open issues and PRs.

Also, there is system documentation available via 'man thunix', from the
command line.

Also, we do expect you periodically check your email, as that is where
you'll be able to get updates and announcements.  You can do so via
webmail, or by using mutt from the command line (Or, the imap client of
your choice.

A recovery file has been written at ~/.thunix/recovery.  This file
currently contains your email address.  You can remove this file at any
time, or change it to whatever email address you would like to use to
recover your account.  You can also replace the email with a passphrase.
However, if this file does not exist, or contains outdated information, we
will not be able to assist in recovering your account.

Finally, welcome aboard!
